{% extends 'base.html' %}

{% block title %}
  Категория: {{ category.name }}
{% endblock %}

{% block content %}
  <h1>{{ category.name }}</h1>
  <p>{{ category.description }}</p>

  <h3>Новости в этой категории:</h3>
  {% if news_in_category %}
    <ul>
      {% for item in news_in_category %}
        <li>
          <a href="{% url 'news_detail' item.id %}">{{ item.title }}</a>
          ({{ item.created_at|date:"d.m.Y" }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Нет новостей в этой категории.</p>
  {% endif %}
{% endblock %}
